<h1> Hello World </h1>
<h1> Home </h1>

<%= link_to "View Servers", servers_path %>
<%= link_to "View Drives", drives_path %>
<%= link_to "My Servers", servers_path %>
<%= link_to "My Drives", drives_path %>
